<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="MediaCenter, Template, eCommerce">
  <meta name="robots" content="all">
  <title>Kaakuna | <%=page %></title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

  <!-- Customizable CSS -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/blue.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.css">
  <link rel="stylesheet" href="/assets/css/owl.transitions.css">
  <link rel="stylesheet" href="/assets/css/animate.min.css">
  <link rel="stylesheet" href="/assets/css/rateit.css">
  <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/toastr.min.css">

  <!-- favicon -->
  <link rel="icon" type="image/ico" href="/assets/favicon.ico" />
          
  <!-- Icons/Glyphs -->
  <link rel="stylesheet" href="/assets/css/font-awesome.css">

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <style>
    .logo{
      width: 131px;
      height: 50px;
      overflow: hidden;
    }
    .logo img{
      width: 100%;
      height: auto;
    }
  </style>
</head>
<body class="cnt-home">
<!-- ============================================== HEADER ============================================== -->
<header class="header-style-1"> 
  
  <!-- ============================================== TOP MENU ============================================== -->
  <div class="top-bar animate-dropdown">
    <div class="container">
      <div class="header-top-inner">
        <div class="cnt-account">
          <ul class="list-unstyled">
            <% if(!user){%>
              <!--<li><a href="#"><i class="icon fa fa-user"></i>My Account</a></li>-->
              
              <li><a href="#"><i class="icon fa fa-heart"></i>Wishlist</a></li>
              <li><a href="#"><i class="icon fa fa-shopping-cart"></i>My Cart</a></li>
              <li><a href="#"><i class="icon fa fa-check"></i>Checkout</a></li>
                
              <li><a href="/account"><i class="icon fa fa-lock"></i>Login</a></li>
            <% } else{%>
              <li><a href="/account/profile"><i class="icon fa fa-user"></i>My Account</a></li>
                
              <li><a href="#"><i class="icon fa fa-heart"></i>Wishlist</a></li>
              <li><a href="#"><i class="icon fa fa-shopping-cart"></i>My Cart</a></li>
              <li><a href="#"><i class="icon fa fa-check"></i>Checkout</a></li>
                
              <li><a href="/account/logout"><i class="icon fa fa-lock"></i>Logout</a></li>
            <% } %>
          </ul>
        </div>
        <!-- /.cnt-account -->
        
        <div class="cnt-block">
          <ul class="list-unstyled list-inline">
            <li class="dropdown dropdown-small"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">USD </span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">USD</a></li>
              </ul>
            </li>
            <li class="dropdown dropdown-small"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">English </span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">English</a></li>
              </ul>
            </li>
          </ul>
          <!-- /.list-unstyled --> 
        </div>
        <!-- /.cnt-cart -->
        <div class="clearfix"></div>
      </div>
      <!-- /.header-top-inner --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.header-top --> 
  <!-- ============================================== TOP MENU : END ============================================== -->
  <div class="main-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 logo-holder"> 
          <!-- ============================================================= LOGO ============================================================= -->
          <div class="logo"> <a href="/"> <h4>KAAKUNA.COM</h4> <!--img src="/assets/images/logo.png" alt="logo"--> </a> </div>
          <!-- /.logo --> 
          <!-- ============================================================= LOGO : END ============================================================= --> </div>
        <!-- /.logo-holder -->
        
        <div class="col-xs-12 col-sm-12 col-md-7 top-search-holder"> 
          <!-- /.contact-row --> 
          <!-- ============================================================= SEARCH AREA ============================================================= -->
          <div class="search-area">
            <form>
              <div class="control-group">
                <ul class="categories-filter animate-dropdown">
                  <li class="dropdown"> <a class="dropdown-toggle"  data-toggle="dropdown" href="/category">Categories <b class="caret"></b></a>
                    <!--<ul class="dropdown-menu" role="menu" >
                      <li class="menu-header">Computer</li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="/category">- Clothing</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="/category">- Electronics</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="/category">- Shoes</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="/category">- Watches</a></li>
                    </ul>-->
                  </li>
                </ul>
                <input class="search-field" placeholder="Search here..." />
                <a class="search-button" href="#" ></a> </div>
            </form>
          </div>
          <!-- /.search-area --> 
          <!-- ============================================================= SEARCH AREA : END ============================================================= --> </div>
        <!-- /.top-search-holder -->
        
        <div class="col-xs-12 col-sm-12 col-md-2 animate-dropdown top-cart-row" id="shopping-cart"> 
          <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
          
          <div class="dropdown dropdown-cart"> <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
            <div class="items-cart-inner">
              <div class="basket"> <i class="glyphicon glyphicon-shopping-cart"></i> </div>
              <div class="basket-item-count"><span class="count"><%=cartItems?cartItems.length:0%></span></div>
              <div class="total-price-basket"> 
                <span class="lbl">cart -</span> 
                <span class="total-price"> 
                  <span class="sign">N</span>
                  <span class="value"><%=cartTotalPrice?cartTotalPrice:0 %></span>
                </span> 
              </div>
            </div>
            </a>
            <ul class="dropdown-menu" style="width: 330px; padding-right:0">
                <form style="padding-right:0">
                  <li style="padding-right:0">
                    <div class="cart-item product-summary" style="max-height: 40rem; overflow: auto; padding-right: 22px">
                  <%if(cartItems){%>
                    <%for(item of cartItems){%>
                      <div class="row" id="cartitem-<%=item.item._id%>">
                        <div class="col-xs-4">
                          <div class="image"> 
                            <a href="detail.html">
                              <img src="/<%=item.storeUrl?`${item.storeUrl}/images/${item.item.image_path}`:''%>" alt="">
                            </a> 
                          </div>
                        </div>
                        <div class="col-xs-5">
                          <h3 class="name"><a href="index8a95.html?page-detail"><%=item.item.name%></a></h3>
                          <div class="qty" style="font-weight: bold"><%=item.qty%></div>
                          <div class="price">N <%=item.item.price%>.00</div>
                        </div>
                        <div class="col-xs-1 action"> 
                          <a href="#" class="reduce-item-by-one" 
                          data-price="<%=item.item.price%>" 
                          data-product="<%=item.item._id%>" 
                          title="reduce quantity by one">
                            <i class="fa fa-minus"></i>
                          </a> 
                        </div>
                        <div class="col-xs-1 action"> 
                          <a href="#" 
                          class="increase-item-by-one" 
                          data-price="<%=item.item.price%>"  
                          data-product="<%=item.item._id%>" 
                          title="increase quantity by one">
                            <i class="fa fa-plus"></i>
                          </a> 
                        </div>
                        <div class="col-xs-1 action"> 
                          <a href="#" class="remove-item-from-cart" 
                          data-product="<%=item.item._id%>" 
                          title="remove item from cart">
                            <i class="fa fa-trash"></i>
                          </a> 
                        </div>
                      </div>
                      <hr>
                    <%}%>
                  <%}%>  
                    </div>
                    
                    <!-- /.cart-item -->
                    <div class="clearfix"></div>
                    
                    <div class="clearfix cart-total" style="padding-right: 22px">
                      <div class="pull-right"> 
                        <span class="text">
                          Sub Total :
                        </span>
                        <span class='price'>N
                          <span class="subtotal">
                            <%=cartTotalPrice?cartTotalPrice:0 %>
                          </span></span> 
                        </div>
                      <div class="clearfix"></div>
                      <a href="checkout.html" class="btn btn-upper btn-primary btn-block m-t-20">Checkout</a> </div>
                    <!-- /.cart-total--> 
                    
                  </li>
                </form>
            </ul>
            <!-- /.dropdown-menu--> 
          </div>
          <!-- /.dropdown-cart --> 
          
          <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= --> </div>
        <!-- /.top-cart-row --> 
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
    
  </div>
  <!-- /.main-header --> 
  
  <!-- ============================================== NAVBAR ============================================== -->
  <div class="header-nav animate-dropdown">
    <div class="container">
      <div class="yamm navbar navbar-default" role="navigation">
        <div class="navbar-header">
       <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> 
       <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="nav-bg-class">
          <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
            <div class="nav-outer">
              <ul class="nav navbar-nav">
                <li class="active dropdown yamm-fw"> <a href="/" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Home</a> </li>
                <%#<li class="dropdown yamm mega-menu"> <a href="home.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Clothing</a>
                  <ul class="dropdown-menu container">
                    <li>
                      <div class="yamm-content ">
                        <div class="row">
                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title">Men</h2>
                            <ul class="links">
                              <li><a href="#">Dresses</a></li>
                              <li><a href="#">Shoes </a></li>
                              <li><a href="#">Jackets</a></li>
                              <li><a href="#">Sunglasses</a></li>
                              <li><a href="#">Sport Wear</a></li>
                              <li><a href="#">Blazers</a></li>
                              <li><a href="#">Shirts</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->
                          
                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title">Women</h2>
                            <ul class="links">
                              <li><a href="#">Handbags</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->
                          
                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title">Boys</h2>
                            <ul class="links">
                              <li><a href="#">Toys & Games</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->
                          
                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title">Girls</h2>
                            <ul class="links">
                              <li><a href="#">Sandals </a></li>
                            </ul>
                          </div>
                          <!-- /.col -->
                          
                          <div class="col-xs-12 col-sm-6 col-md-4 col-menu banner-image"> <img class="img-responsive" src="/assets/images/banners/top-menu-banner.jpg" alt=""> </div>
                          <!-- /.yamm-content --> 
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="dropdown mega-menu"> 
                <a href="#"  data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Electronics <!--<span class="menu-label hot-menu hidden-xs">hot</span>--> </a>
                  <ul class="dropdown-menu container">
                    <li>
                      <div class="yamm-content">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Laptops</h2>
                            <ul class="links">
                              <li><a href="#">Gaming</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->
                          
                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Desktops</h2>
                            <ul class="links">
                              <li><a href="#">Routers & Modems</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->
                          
                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Cameras</h2>
                            <ul class="links">
                              <li><a href="#">Accessories</a></li>
                            </ul>
                          </div>
                          <!-- /.col -->
                          <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                            <h2 class="title">Mobile Phones</h2>
                            <ul class="links">
                              <li><a href="#">Apple</a></li>
                            </ul>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-4 col-menu custom-banner"> <a href="#"><img alt="" src="/assets/images/banners/banner-side.png"></a> </div>
                        </div>
                        <!-- /.row --> 
                      </div>
                      <!-- /.yamm-content --> </li>
                  </ul>
                </li>
                <li class="dropdown hidden-sm"> <a href="/category">Health & Beauty <!--<span class="menu-label new-menu hidden-xs">-->new</span> </a> </li>
                <li class="dropdown hidden-sm"> <a href="/category">Watches</a> </li>
                <li class="dropdown"> <a href="#">Jewellery</a> </li>
                <li class="dropdown"> <a href="#">Shoes</a> </li>
                <li class="dropdown"> <a href="#">Kids & Girls</a> </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Vendors</a>%>
                  <ul class="dropdown-menu pages">
                    <li>
                      <div class="yamm-content">
                        <div class="row">
                          <div class="col-xs-12 col-menu">
                            <ul class="links">
                              <li><a href="#">All Vendors</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
             
              </ul>
              <!-- /.navbar-nav -->
              <div class="clearfix"></div>
            </div>
            <!-- /.nav-outer --> 
          </div>
          <!-- /.navbar-collapse --> 
          
        </div>
        <!-- /.nav-bg-class --> 
      </div>
      <!-- /.navbar-default --> 
    </div>
    <!-- /.container-class --> 
    
  </div>
  <!-- /.header-nav --> 
  <!-- ============================================== NAVBAR : END ============================================== --> 
  
</header>

<!-- ============================================== HEADER : END ============================================== -->