<%# header %>
<% include partials/vendorstore_headsection.ejs %>

<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="/">Home</a></li>
        <%if(store && store.name){%>
          <li class='active'><%=store.name%></li>
        <%}%>
      </ul>
    </div>
    <!-- /.breadcrumb-inner --> 
  </div>
  <!-- /.container --> 
</div>
<!-- /.breadcrumb -->
<style>
  .no-products{
    padding: 13px 15px;
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px;
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    transition: all 0.3s ease 0s;
    text-align: -webkit-match-parent;
    padding: 10px 15px;
    border-bottom: 1px solid #e3e3e3;
  }

  th{
    text-align: center;
  }

  .no-products-icon{
    font-size: 16px; 
    margin-right: 12px;
  }

  .placeholder-container{
    width: 100%;
    height: 140px;
    position: relative;
    border: 1px #cccccc solid;
    cursor: pointer;
    color: #d0205e;
    transition: background-color 0.3s;
    overflow: hidden;	
    margin: 0 auto;
    
  }
  
  .pl-logo{
    width: 210px;
    height: 197px;
  }

  .placeholder-container img{
    width: 100%;
    height: 100%;
  }
  
  .placeholder-container > a, .placeholder-container > input[type='file'], .placeholder-container > img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .placeholder-container > img{
    height: auto;
    width: 100%;
    
  }

  .placeholder-container > a{
    background-color: rgba(0,0,0,0);
    color: #d0205e;
    padding: 5px;
    border: 1px #aaaaaa solid;
    transition: background-color 0.5s cubic-bezier(0.28, -0.25, 0, 0.98);
  }

  .centeralize{
    text-align: center;
  }

  .centeralize > .placeholder-container{
    display: inline-block;
  }

  .section-heading{
			font-size: 15px;
			font-family: 'Open Sans', sans-serif;
			text-transform: uppercase;
			font-weight: 550;	
      padding: 0;
      margin: 10px 0 7px 0;
  }

  .section-heading + h4{
    text-align: right;
  }

  .section-heading + h4 a{
    height: 2.7rem;
    text-transform: none;
    display: inline !important;

  }
  
  [type="file"] {
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute !important;
      white-space: nowrap;
      width: 1px;  
  }

  .placeholder-container:hover {
    /*box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.3);*/
  }
  
  .placeholder-container-focused {
    outline: 1px dotted #000;
    outline:  -webkit-focus-ring-color auto 5px;
    
  }

  [type='file'] + label{
    pointer-events: none;
  }

  .centeralize  input[type="submit"]{
    margin-top: 1rem;
  }

  .banner{
    margin-bottom: 50px;
  }

  .cat-btn{
    margin: 10px 10px;
  }
  .hidden{
    display: none;
  }

  .statusMsg > span{
    transition: display 0.5s cubic-bezier(0.28, -0.25, 0, 0.98);
  }

  .reveal-btn{
    background-color: rgba(0,0,0,0);
    border: 1px solid #ddd;
  }

  .subcat-input{
    position: absolute;
    top:-3rem; width: 100%; 
    /*height: 3rem;*/
    height: 0; 
    overflow: hidden; 
    display: flex; 
    flex-direction: row; 
    align-items: flex-start; 
    background-color: white;
    transition: 1.5s linear;
  }
  td{
    padding: 20px!important;
    border: 1px solid #eee !important;
  }
  th{
    text-align: left;
  }

  /* treeview */
  ul.treeview {
    list-style-type: none;
  }

  .treeview {
    margin: 0;
    padding: 0;
  }

  .treeview-caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }

  .treeview-caret::before {
    content: "\203A";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }

  .treeview-caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */'
    transform: rotate(90deg);  
  }

  .nested {
    display: none;
  }

  .active {
    display: block;
  }
</style>
<div class="body-content outer-top-xs">
  <div class='container'>
    <div class='row'>
      <div class='col-md-3 sidebar'> 
        <!-- ================================== TOP NAVIGATION ================================== -->
        <div class="side-menu animate-dropdown outer-bottom-xs">
          <div class="head"><i class="icon glyphicon glyphicon-cog fa-fw"></i> Manage Store</div>
          <nav class="yamm megamenu-horizontal">
            <ul class="nav">
              <a class="no-products" href="#">
                <i class="no-products-icon"  aria-hidden="true"></i>Welcome
              </a>
              <a class="no-products" href="#storelogo">
                <i class="no-products-icon"  aria-hidden="true"></i>Manage Logo
              </a>
              <a class="no-products" href="#storebanner">
                <i class="no-products-icon "  aria-hidden="true"></i>Manage Banner
              </a>
              <%# <a class="no-products" href="#storetheme">
                <i class="no-products-icon " aria-hidden="true"></i>Store's Theme
              </a> %>
              <a class="no-products" href="#productcategories">
                <i class="no-products-icon " aria-hidden="true"></i>Manage Categories
              </a>
              <a class="no-products" href="#products">
                <i class="no-products-icon "  aria-hidden="true"></i>Manage Products
              </a>
              <a class="no-products" href="/<%=store && store.url?store.url:''%>" target="_blank">
                <i class="no-products-icon "  aria-hidden="true"></i>View Changes in Store
              </a>
            </ul>
            <!-- /.nav --> 
          </nav>
          <!-- /.megamenu-horizontal --> 
        </div>
        <!-- /.side-menu --> 
      </div>
        <!-- ================================== TOP NAVIGATION : END ================================== -->
        
        <!-- /.sidebar-module-container --> 
      
      <!-- /.sidebar -->
      <div class='col-md-9' id="for-scroll-into-view"> 
        <div class="">
        <!-- ========================================== SECTION – HERO ========================================= -->
          <div class="col-xs-12" style="border-bottom: 1px solid #e3e3e3; margin-bottom: 20px; padding-left: 0; padding-right: 0;">
            <h4 class="section-heading col-xs-8" id="section-heading"></h4> 
          </div>
          
          <div id="actionsDisp" class="col-xs-12 row">  
            
            <p class="statusMsg" id="statusMsg"></p>
            
            <h4 id="welcome" hidden>Welcome</h4>

            <h4 id="default" hidden>page not ready</h4>
            
            <form method="post" hidden id="logoImgUpld" enctype="multipart/form-data" action="/account/store<%=storeid?'/'+storeid:''%>/logo">
              <div class="col-md-12 centeralize">
                  <div class="col-md-4"></div>
                  <label class="col-md-4 placeholder-container pl-logo focus" id="placeholder-container">
                    <input type="file" name="file" accept="image/*" id="logoimginp" data-multiple-caption="{count} files selected" />
                    <%if(store && store._id && store.logo_path){%>
                      <img id="logoImg" 
                      src="/account/store/<%=store._id+'/'%>images<%='/'+store.logo_path%>"/>
                      <a class="addimg" >change logo image</a>
                    <%} else{%>
                      <img id="logoImg" />
                      <a class="addimg" >add logo image</a>
                    <%}%>      
                  </label>   
                  <div class="col-md-4"></div>
              </div>
              <div class="col-md-12 centeralize" >
                  <div class="col-md-4"></div>
                  <div class="col-md-4" >
                    
                    <input class="btn btn-flat col-md-9" type="submit" value="Upload logo"/>
                    
                  </div>          
              </div>     
            </form>

            <form method="post"  hidden  id="storebanner" enctype="multipart/form-data" action="/account/store<%=storeid?'/'+storeid:''%>/logo">
              <div class="col-md-12 imgwrapper">
                  <%if(store && store.banner_image){%>
                    <%store.banner_image.forEach(function(img){%>
                      <div class="col-md-6 banner">
                        <!--new elems should be appended here-->
                        
                          <div class="col-md-6 placeholder-container">
                          
                            <img src='<%=store._id+"/"%>images<%='/'+img.path%>' id="logoImg" 
                            />
                          </div>   
                        <button class="btn btn-flat col-xs-12 submit-btn delete-btn"  style="margin: 4px 0 0 0;"type="submit">delete</button> 
                      </div>
                    <%})%>
                  <%}%>
                  <div class="col-md-6 banner add-banner-container">
                    <!--new elems should be appended here-->
                    <label class="col-md-6 placeholder-container focus">
                      <input type="file" name="file" accept="image/*" id="bannerimginp" data-multiple-caption="{count} files selected" />
                      
                        <img id="bannerImg" 
                        />
                      
                      <a class="addimg" >add image</a>             
                    </label> 
                    <button class="btn btn-flat col-xs-12 submit-btn" style="margin: 4px 0 0 0;"type="submit">Upload</button> 
                  </div> 
                  <div class="col-md-4"></div>
              </div>    
            </form>            

            
            <div id="addCategory" hidden class="col-xs-12">
            
            <%# get root node%>
            <%# use root node as an entry node to porpulate all intermediate nodes%>
            
            <%if(categories && categories.length){%>
              <ul class="treeview">
                <%for(category of categories){%>
                  <li><span class="treeview-caret"><%=category.node_name%></span></li>
                <%}%>
              </ul>
            <%}else{%> 
              <form id="addRootCategory" style="width: 100%" method="post" enctype="multipart/form-data"
              action="/account/store<%=storeid?'/'+storeid:''%>/category">
                <div style="width: 80%; margin: auto; display: flex; 
                flex-direction: column; align-items: center; justify-content: center;">

                  <div style=" font-size: 17px; margin: 10px;"> add a root category below</div>
                  
                  <input type="hidden" name="iconClass" id="iconClass" value=""/>

                  <div class="dropdown" style="padding: 0">
                    <button class="btn reveal-btn dropdown-toggle" type="button" style="margin: 10px"
                    title="select a descriptive icon for the category" data-toggle="dropdown">
                      <i class="icon fa" aria-hidden="true" style="margin: 10px 0 10px 20px; font-size: 18px">Icon:</i>
                      <i data-iconClass="" class="catIcon fa icon " aria-hidden="true" 
                      style="margin: 10px 0 10px 20px; font-size: 18px"></i>
                    </button>
                    <ul class="dropdown-menu col-xs-12" style="height: 400px; overflow: auto;" id="catIcons-dropdown-menu"> 
                    </ul>
                  </div>

                  <label style="width: 100px; height: 30px; border: 1px solid whitesmoke; margin: 10px; cursor: pointer">
                    <input class="uploadWithLabelIndicator" type="file" name="file"
                    accept="image/*" id="catimginp" data-multiple-caption="{count} files selected" />
                    <span></span>
                  </label>
                  
                  <input style="margin: 10px;" type="text" name="category"/>
                  <button style="margin: 10px;" type="submit" class="btn">add category</button>
                </div>
              </form>
            <%}%>
            </div>
            
            <form id="addProd" hidden class="row"  enctype="multipart/form-data">
              <div class="col-md-12">
                
                <div class='form-group col-md-6' >
                  <label class='info-title' for='itemName'>Name of Item<span></span></label>
                  <input type='text'  placeholder='Name of Item' name='itemName' required
                  class='form-control unicase-form-control address-update text-input' id='itemName'/>                    
                </div>  
                <div class='form-group col-md-6' >
                  <label class='info-title' for='itemPrice'>Price of Item<span></span></label>
                  <input type='number' required
                  placeholder="Price Per Item (NGN)" 
                  name='itemPrice'  class='form-control info-update unicase-form-control text-input' id='itemPrice' />                    
                </div>
                <div class='form-group col-md-6' >
                  <label class='info-title' for='itemQty'>Item Quantity<span></span></label>
                  <input type='number' required
                  placeholder="Quantity of Item" 
                  name='itemQty'  class='form-control info-update unicase-form-control text-input' id='itemQty' />                    
                </div>
            
                <div class='form-group col-md-6' >
                  <label class='info-title' for='prodManf'>Manufacturer of Product<span></span></label>
                  <input type='text' name='prodManf' required
                  placeholder='Manufacturer of Products' 
                  class='form-control unicase-form-control text-input' id='prodManf'/>                    
                </div>  
              
                <div class='form-group col-md-6' >
                  <label class='info-title' for='prodColor'>Color of Product<span></span></label>
                  <input type='text' placeholder="e.g black" required
                  name='prodColor' class='form-control info-update unicase-form-control text-input' 
                  id='prodColor' />                    
                </div>
                <div class='form-group col-md-6' >
                  <label class='info-title' for='productDesc'>Description of Product<span></span></label>
                  <textarea type='text area'name='productDesc' required
                  class='form-control info-update unicase-form-control text-input' placeholder="brand, model number, type"
                  id='productDesc'></textarea>
                </div>
                <div class="form-group col-md-6">
                  <label class='info-title' for='prodCategory' style="">Category Name<span></span></label>
                  <select name='prodCategory'  id='prodCategory' class='form-control unicase-form-control prodCat'>
                    <option selected>  ---Select Category---
                    </option>
                    <%if(categories){%>
                      <%for(cat of categories){%> 
                        
                        <option value='<%=cat._id%>'> <%=cat.category_name%>
                        </option>
                      
                      <%}%>
                    <%}%>
                    
                  </select>
                </div>
                <div class="col-md-6">
                  <label class='info-title' for='prodSubCategory' style="">Sub Category Name<span></span></label>
                  <select name='prodSubCategory' required  id='prodSubCategory' class='form-control unicase-form-control'>
                    <option selected>  ---Select sub category---
                    </option>
                    <!--<%if(categories){%>
                      <%for(cat of categories){%> 
                        
                        <option value='<%=cat._id%>'> <%=cat.category_name%>
                        </option>
                      
                      <%}%>
                    <%}%>-->
                    
                  </select>
                </div>
                <div class='form-group col-md-12'>
                  <label for="prodImg" style="margin-top: 20px">
                    Product Image
                  </label>
                  <label class="col-md-6 placeholder-container focus" id="placeholder-container"> 
                    <input type="file"  name="prodImgInp" accept="image/*" id="prodImgInp"/>
                    
                    <img id="prodImg" 
                    />
                    
                    <a class="addimg" >add image</a>             
                  </label>                  
                </div>
              </div>  
              <div class='col-xs-12' style="margin-top: 30px">
                <div class="col-xs-1 col-sm-4"></div>
                <button class='col-xs-10 btn col-sm-4' style="background-color: #d0205e">Add Product</button>
                <div class="col-xs-1 col-sm-4"></div>
              </div>     
            </form>

          </div>

        </div>
      <!-- /.col -->
      </div> 
    </div>
    <!-- /.row --> 
    <!-- ============================================== BRANDS CAROUSEL ============================================== -->
    <div id="brands-carousel" class="logo-slider wow fadeInUp">
      <div class="logo-slider-inner">
        <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
          <div class="item m-t-15"> <a href="#" class="image"> <img data-echo="/assets/images/brands/brand1.png" src="/assets/images/blank.gif" alt=""> </a> </div>
          <!--/.item-->
          
          <div class="item m-t-10"> <a href="#" class="image"> <img data-echo="/assets/images/brands/brand2.png" src="/assets/images/blank.gif" alt=""> </a> </div>
          <!--/.item-->
          
          <div class="item"> <a href="#" class="image"> <img data-echo="/assets/images/brands/brand3.png" src="/assets/images/blank.gif" alt=""> </a> </div>
          <!--/.item-->
          
          <div class="item"> <a href="#" class="image"> <img data-echo="/assets/images/brands/brand4.png" src="/assets/images/blank.gif" alt=""> </a> </div>
          <!--/.item-->
          
          <div class="item"> <a href="#" class="image"> <img data-echo="/assets/images/brands/brand5.png" src="/assets/images/blank.gif" alt=""> </a> </div>
          <!--/.item-->
          
          <div class="item"> <a href="#" class="image"> <img data-echo="/assets/images/brands/brand6.png" src="/assets/images/blank.gif" alt=""> </a> </div>
          <!--/.item-->
          
          <div class="item"> <a href="#" class="image"> <img data-echo="/assets/images/brands/brand2.png" src="/assets/images/blank.gif" alt=""> </a> </div>
          <!--/.item-->
          
          <div class="item"> <a href="#" class="image"> <img data-echo="/assets/images/brands/brand4.png" src="/assets/images/blank.gif" alt=""> </a> </div>
          <!--/.item-->
          
          <div class="item"> <a href="#" class="image"> <img data-echo="/assets/images/brands/brand1.png" src="/assets/images/blank.gif" alt=""> </a> </div>
          <!--/.item-->
          
          <div class="item"> <a href="#" class="image"> <img data-echo="/assets/images/brands/brand5.png" src="/assets/images/blank.gif" alt=""> </a> </div>
          <!--/.item--> 
        </div>
        <!-- /.owl-carousel #logo-slider --> 
      </div>
      <!-- /.logo-slider-inner --> 
      
    </div>
    <!-- /.logo-slider --> 
    <!-- ============================================== BRANDS CAROUSEL : END ============================================== --> </div>
  <!-- /.container --> 
  </div>
</div>          



<!-- /.body-content --> 
<%# /* footer */%>
<% include partials/footer.ejs %>

<!-- JavaScripts placed at the end of the document so the pages load faster --> 

<script src="/assets/js/jquery-1.11.1.min.js"></script> 
<script src="/assets/js/bootstrap.min.js"></script> 
<script src="/assets/js/bootstrap-hover-dropdown.min.js"></script> 
<script src="/assets/js/owl.carousel.min.js"></script> 
<script src="/assets/js/echo.min.js"></script> 
<script src="/assets/js/jquery.easing-1.3.min.js"></script> 
<script src="/assets/js/bootstrap-slider.min.js"></script> 
<script src="/assets/js/jquery.rateit.min.js"></script> 
<script src="/assets/js/bootstrap-select.min.js"></script> 
<script src="/assets/js/wow.min.js"></script> 
<script src="/assets/js/scripts.js"></script>
<script src="/assets/js/materialize.min.js"></script>
<script src="/assets/js/products.js"></script>
<script src="/assets/js/minimalistic-front-end-router.js"></script>
<script src="/assets/js/fontawesome-icons-classes.js"></script>
<script src="/assets/js/toastr.min.js"></script>
	
<script>
$(document).ready(function(){ 
  // https://stackoverflow.com/questions/14354040/jquery-1-9-live-is-not-a-function
  jQuery.fn.extend({
    live: function (event, callback) {
    if (this.selector) {
            jQuery(document).on(event, this.selector, callback);
        }
        return this;
    }
  });   

  // toast notification setup
  toastr.options = {
    "closeButton": true,
    "debug": false,
    "newestOnTop": false,
    "progressBar": false,
    "positionClass": "toast-bottom-left",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
}

  //--begin-- router section
  // minfsetContainer(document.getElementById('actionsDisp'));
  var sectionHeading = document.getElementById('section-heading');
  var scrollIntoView = document.getElementById('for-scroll-into-view');

  var minfroute = Minf({nullrouteRedirect: '/'})
  minfroute.route('/', 
    ()=>{
      return 'welcome';
    }, 
    ()=>{
      $(`#section-heading + h4`).remove()
      sectionHeading.textContent = 'Welcome';
      scrollIntoView.scrollIntoView(true);
    }
  );

  minfroute.route('*', 
    ()=>{
      return 'default';
    },
    ()=>{
      $(`#section-heading + h4`).remove();
      sectionHeading.textContent = 'default view';
      scrollIntoView.scrollIntoView(true);
    }
  );
  
  minfroute.route('storelogo', 
    ()=>{
      return 'logoImgUpld';
    },
    ()=>{
      $(`#section-heading + h4`).remove();
      sectionHeading.textContent = 'Upload a Logo for your store';
      scrollIntoView.scrollIntoView(true);
    }
  );
  
  var formAppends = {};
  minfroute.route('storebanner', ()=>{
      return 'storebanner';
    },
    ()=>{
      $(`#section-heading + h4`).remove();
      sectionHeading.textContent = 'Upload a Banner for your store';
      scrollIntoView.scrollIntoView(true);
    }
  );

  minfroute.route('productcategories', ()=>{
      return 'addCategory';
    },
    ()=>{
      sectionHeading.textContent = 'Product Categories';
      scrollIntoView.scrollIntoView(true);
      $(`#section-heading + h4`).remove();
      // show add category button
      $(`<h4 class="section-heading col-xs-4">
            <a class="btn btn-sm btn-success" href="#addcat">
              <i class="icon fa fa-plus"></i> Category
            </a>
          </h4>`).insertAfter('#section-heading')
    }
  ); 

  minfroute.route('products', ()=>{
      return 'addProd';
    },
    ()=>{
      $(`#section-heading + h4`).remove();
      sectionHeading.textContent = "Product Catalog";
      scrollIntoView.scrollIntoView(true)
    }
  );
  //--end-- router section

  $('[type="file"]').live('focus', function(event){
    $('.addimg').css('background-color', '#aaaaaa')
  });

  $('[type="file"]').live('blur', function(event){
    $('.addimg').css('background-color', 'rgba(0,0,0,0)')
  });

  $('.focus').live('mouseenter', function(event){
    $('.addimg').css('background-color', '#aaaaaa')
  }).live('mouseleave', function(){
    $('.addimg').css('background-color', 'rgba(0,0,0,0)')
  });

  // manage category
  $('#prodCategory').live('change', function(event){
    var category = $(this).val();
    // console.log(category)
    $.ajax({
          type: 'GET',
          url: "/account/store<%=storeid?'/'+storeid:''%>/subcat",
          data: {category: category},
          contentType: false,
          cache: false,
          success: function(msg){
              // $('.statusMsg').html('');
              if(msg && msg.success===true){
                  // add result to the list of subcategory
                  if(msg.data && msg.data.length){
                    $('#prodSubCategory')
                        .html(`<option selected>  ---Select sub category---
                              </option>`)
                    msg.data.forEach(
                      (data)=>{
                        $('#prodSubCategory')
                        .append(`<option value="${data.id}">
                                  ${data.name}
                                </option>`);
                        
                        // cache this data so that it persists even when we change views
                        // redux should be used here, but, well, this works too
                        // formAppends.proddata.subcat += 
                        //  `<option value="${data.id}">
                        //    ${data.name}
                        //  </option>`;
                      }
                    );
                  }
                  else{
                    $('#prodSubCategory')
                        .html(`<option selected>  ---Select sub category---
                              </option>`)
                        .append(`<option value="">
                                  <i>no sub category added yet</i>
                                </option>`);
                        
                  }
                  
              }
          }
      });
  });

  $('body').click(function(event){
    var subcatAdd = event.target.closest('.subcat-add');
    var subcatInput = event.target.closest('.subcat-input');
    
    if(!subcatInput){
        $('.subcat-input').remove();
        $('.dropdown .subcat-add').css('display', '').next('a').css('display', '');
      }
    if(subcatAdd){
      $(subcatAdd).css('display', 'none').next('a').css('display', 'none');
      $(`<form class="subcat-input" id="subcat-input-form" style="width: 18rem; height: 4rem !important; position: relative;background: rgba(0,0,0,0)">
        <input type="text" name="subCatName" required data-cat="${subcatAdd.dataset.cat}" 
        style="width: 80%; height: 100%; padding-left: 0.7rem; padding-right: 0.7rem;
        border: 0px solid #eee;
        " type="text"/>
        <input type="hidden" name="subcatCategory" />
        <button style="width: 20%; height: 100%; border: 0; background: rgba(0,0,0,0)">
          <i class="icon fa fa-check" style="font-size: "></i>
        </button>
      </form>`).insertBefore(subcatAdd).css('top', '0rem').css('height', '3rem');
      return false;
    }
  });    

  // retrieve bas64 format of images
  // and display them in an image tag
  // tags should follow this arrangement
  //
  // <elem class="placeholder-container">
  //   <input type="file" />
  //   <img />
  // </elem>
  var imgfile = undefined;
  $('input.uploadWithLabelIndicator[type="file"]').live('change', function( e ) {
    var fileName = undefined;
    var imageTag = this.nextElementSibling;
    var file = e.target.files[0];
    var imgtype = file.type;
    var supportedimgs= ["image/jpeg","image/png","image/jpg"];
    if(!(supportedimgs.includes(imgtype))){
      alert('please select a valid image file (JPEG/JPG/PNG)')
      $(this).val('')
      return false
    }
    else{
      if ( !(this.files && this.files.length > 1 ) ){
        var reader = new FileReader();
        reader.onload = function(){
          imageTag.src = reader.result;
          imgfile = reader.result;
        };
        reader.readAsDataURL(e.target.files[0]);
        
      }    
    }
  });

  var catFileSelected = undefined;
  $('[type="file"]').live('change', function( e ) {
    // var fileName = undefined;
    var span = this.nextElementSibling;
    var file = e.target.files[0];
    var imgtype = file.type;
    console.log(file)
    var supportedimgs= ["image/jpeg","image/png","image/jpg"];
    if(!(supportedimgs.includes(imgtype))){
      alert('please select a valid image file (JPEG/JPG/PNG)')
      $(this).val('')
      return false
    }
    else{
      if( !(this.files && this.files.length > 1 ) ){
        catFileSelected = !!this.files.length;
        span.innerText = file.name;
        // var reader = new FileReader();
        // reader.onload = function(){
        //   imageTag.src = reader.result;
        //   imgfile = reader.result;
        // };
        // reader.readAsDataURL(e.target.files[0]);
        
      }    
    }
  });

  

  // loader gif
  var loadingImg = new Image();
  loadingImg.src = '/assets/images/loading_sm.gif';

  $('#subcat-input-form').live('submit', function(event){
    event.preventDefault()
    var submitBtn = $('#subcat-input-form button');
    var submitBtnContent = submitBtn.html();
    var category = $('#subcat-input-form > input[name="subCatName"]'
                    ).attr('data-cat');
    $("#subcat-input-form input[name='subcatCategory']"
      ).val(category);
    
    $.ajax({
        type: 'POST',
        url: "/account/store<%=storeid?'/'+storeid:''%>/subcat",
        data: new FormData(this),
        contentType: false,
        cache: false,
        processData: false,
        beforeSend: ()=>{
          submitBtn.attr("disabled","disabled");
          // $(this).css("opacity",".5");
          submitBtn.html(loadingImg);
        },
        complete: ()=>{
          submitBtn.html(submitBtnContent);
          // $('#addSubCat').css("opacity","");
          submitBtn.removeAttr("disabled");
          // document.getElementById('statusMsg').scrollIntoView(true);
          setTimeout(()=>{
            $('.statusMsg > span').css('display', 'none');
          }, 3000);
        },
        success: (msg)=>{
            $('.statusMsg').html('');
            if(msg && msg.success===true){
                var data = msg.data;
                $(`td[data-cat="${category}"] .subcat-container`).append(`
                  <li style="padding-left: 1rem; padding-right: 2rem; ">
                    <a data-subcat="${data._id}" href="#">
                      ${data.name}
                    </a>
                    <a style="float: right;  color: #999">
                      <i class="icon fa fa-close"></i>
                    </a>
                  </li>
                `);

                var length = $(`td[data-cat='${category}'] .subcat-length`).html();
                length= +length + 1;
                $(`td[data-cat='${category}'] .subcat-length`).html(""+length);

                $('.statusMsg').html('<span style="font-size:18px;color:#34A853">sub category added successfully.</span>');
                $(this).remove()
                $('.dropdown .subcat-add').css('display', '').next('a').css('display', '');
            }else{
                $('.statusMsg').html('<span style="font-size:18px;color:#EA4335">'+ 
                  (msg.message?msg.message:'Some problem occurred, please try again.')+'</span>');
            }
            $(this)[0].reset();
        },
        error: function(errObj, status){
          $('.statusMsg').html('<span style="font-size:18px;color:#EA4335">Some problem occurred, please try again.</span>');
        }
    });
  });

  $('#logoImgUpld').live('submit', function(event){
    // event.preventDefault();
    // code-block:::show spinner
    if(!$('#logoimginp').val()){
      // code-block:::show error message
      alert('please click on the add image button to add a logo image')
      return false
    }
  });

  $('#storebanner').live('submit', function(event){
    event.preventDefault();
    // code-block:::showspinner
    if(!$('#bannerimginp').val()){
      // code-block:::show error message
      alert('please click on the add image button to add a logo image')
      return false
    }
    $.ajax({
            type: "POST",
            url: "/account/store<%=storeid?'/'+storeid:''%>/banner",
            data: new FormData(this),
            contentType: false,
            cache: false,
            processData:false,
            beforeSend: function(){
                $('.submit-btn').attr("disabled","disabled");
                $('#storebanner').css("opacity",".5");
            },
            complete: ()=>{
              $('#storebanner').css("opacity","");
              $(".submit-btn").removeAttr("disabled");
              document.getElementById('statusMsg').scrollIntoView(true)
              setTimeout(()=>{
                $('.statusMsg > span').css('display', 'none');
              }, 3000);
            },
            success: (msg)=>{
                $('.statusMsg').html('');
                console.log(msg)
                if(msg && msg.success===true){
                    formAppends.buffer = `<div class="col-md-6 banner">
                                          <!--new elems should be appended here-->
                                          
                                            <label class="col-md-6 placeholder-container">
                                              <img src='${imgfile}' id="logoImg" 
                                              />
                                            </label>   
                                          <button class="btn btn-flat col-sm-12 delete-btn" style="margin: 4px 0 0 0;"type="submit">delete</button> 
                                        </div> `;
                    $(formAppends.buffer).insertBefore('.add-banner-container')
                      formAppends.buffer = '';
                    $('.statusMsg').html('<span style="font-size:18px;color:#34A853">Form data submitted successfully.</span>');
                    
                    $(this)[0].reset();
                    $('.placeholder-container input').next().removeAttr("src");
                }
                else{
                    $('.statusMsg').html('<span style="font-size:18px;color:#EA4335">Some problem occurred, please try again.</span>');
                }
            },
            error: function(errObj, status){
              $('.statusMsg').html('<span style="font-size:18px;color:#EA4335">Some problem occurred, please try again.</span>');
            }
          }
        );
    }
  );

  // create sub category for store item
  $('#addSubCat').live('submit', function(event){
    event.preventDefault();
    if(!$('#subCatName').val()){
      // code-block:::show error message
      alert('please dont leave the sub category name field blank');
      return false
    }
    if(!$('#subcatCategory').val() || $('#subcatCategory').val() == '---Select Category---'  ){
      alert('please select a category')
      return false
    }

    $.ajax({
          type: 'POST',
          url: "/account/store<%=storeid?'/'+storeid:''%>/subcat",
          data: new FormData(this),
          contentType: false,
          cache: false,
          processData: false,
          beforeSend: function(){
              $('.submit-btn').attr("disabled","disabled");
              $('#addSubCat').css("opacity",".5");
          },
          complete: ()=>{
            $('#addSubCat').css("opacity","");
            $(".submit-btn").removeAttr("disabled");
            document.getElementById('statusMsg').scrollIntoView(true);
            setTimeout(()=>{
              $('.statusMsg > span').css('display', 'none');
            }, 3000);
          },
          success: (msg)=>{
              $('.statusMsg').html('');
              if(msg && msg.success===true){
                  $('.statusMsg').html('<span style="font-size:18px;color:#34A853">sub category added successfully.</span>');
              }else{
                  $('.statusMsg').html('<span style="font-size:18px;color:#EA4335">'+ (msg.message?msg.message:'Some problem occurred, please try again.')+'</span>');
              }
             $(this)[0].reset();
          },
          error: function(errObj, status){
            $('.statusMsg').html('<span style="font-size:18px;color:#EA4335">Some problem occurred, please try again.</span>');
          }
      });
  });

  $('#addProd').live('submit', function(event){
    event.preventDefault();
    $.ajax({
          type: 'POST',
          url: "/account/store<%=storeid?'/'+storeid:''%>/addprod",
          data: new FormData(this),
          contentType: false,
          cache: false,
          processData: false,
          beforeSend: function(){
              $('.submit-btn').attr("disabled","disabled");
              $('#addProd').css("opacity",".5");
          },
          complete: ()=>{
            $('#addProd').css("opacity","");
            $(".submit-btn").removeAttr("disabled");
            document.getElementById('statusMsg').scrollIntoView(true)
            setTimeout(()=>{
              $('.statusMsg > span').css('display', 'none');
            }, 3000);
          },
          success: (msg)=>{
              $('.statusMsg').html('');
              if(msg && msg.success===true){
                  $('.statusMsg').html('<span style="font-size:18px;color:#34A853">Product has been added successfully.</span>');
                  $(this)[0].reset();
                  $('.placeholder-container input').next().removeAttr("src"); 
              }else{
                  $('.statusMsg').html('<span style="font-size:18px;color:#EA4335">'+ (msg.message?msg.message:'Some problem occurred, please try again.')+'</span>');
              }
              
          },
          error: function(errObj, status){
            $('.statusMsg').html('<span style="font-size:18px;color:#EA4335">Some problem occurred, please try again.</span>');
          }
      }
    );
  
    }
  );

  var catIconsDropdown = document.getElementById('catIcons-dropdown-menu');
  var iconsClasses = faIconsCls;
  iconsClasses.forEach((item, idx, arr)=>{
    var li = document.createElement('li');
    li.innerHTML = `<a href="#" class="cat-icon" data-catIcon="${item.class}"><i class="fa ${item.class}"></i> ${item.name}</a>`;
    // console.log(li)
    catIconsDropdown.appendChild(li);
  });

  let selectedIcon = undefined
  $('.cat-icon').live('click', function(event){
    event.preventDefault();
    var selectedClass = $(this).attr('data-catIcon');
    var dropdownBtn = this.closest('.dropdown').querySelector(".catIcon");
    $(dropdownBtn).attr("class", "catIcon fa icon "+selectedClass);
    $('#iconClass').val(selectedClass)
    selectedIcon = selectedClass;
  });

  //  create category for store item
  $('#addRootCategory').live('submit', function(event){
    if(!selectedIcon){
      // code-block:::show error message
      toastr["warning"]("please select an icon");
      return false
    }
    if(!catFileSelected){
      toastr["warning"]("please select an image file");
      return false
    }
  });
  
});

</script>
<% include partials/cart.ejs %>
</body>


</html>